    /*large_image_604x352*/
    .large_image_604x352 {background:url(images/large-image-frame.png) no-repeat scroll top left; min-height:370px; padding-left: 630px; position:relative; }                                    
    .large_image_604x352 .Normal p img {position:absolute; top:4px; left:5px; width:604px !important; height:352px !important;}
