/*Hero*/
#hero_wrapper{background:#000 url(images/contact/header.jpg) no-repeat center top;height:233px; width:100%; position:relative;margin-bottom:50px;}
#hero_title_container{height:43px; width:100%; background:transparent url(images/pagetitle_grad.png) repeat-x scroll 0 0;position:absolute; bottom:0px; left:0px;}
.hero_title{width:960px; margin:0 auto;}
.hero_title h1{margin:0; padding:0;color:#fff; font-size:37px; font-weight:700;}


/*Content*/
.ContentPane_holder,.SuccessMessage,.ErrorMessage{float:right; width:550px;}

.ContentPane h1{font-size:37px; font-weight:700;color:#00bdc8;margin:50px 0 20px 0;}
.ContentPane h3{font-size:20px; font-weight:500;color:#00bdc8;margin-bottom:20px;}
.ContentPane p{font-size:16px; font-weight:500;color:#fff;margin-bottom:20px;}
.SuccessMessage,.ErrorMessage{display:none; background:transparent url(images/contact/messageback.png) no-repeat scroll center top;min-height:180px;}
.SuccessMessage h1,.ErrorMessage h1{font-size:24px; text-align:center;}
.SuccessMessage h1{margin-top:70px;}
.ErrorMessage h1{margin-top:55px;}

/*CTA*/
.cta{float:left; width:325px;}
.cta h1{font-size:34px; font-weight:700; margin:0 0 12px 0;color:#00bdc8;}
.cta h3{font-size:24px; font-weight:700; margin:0;color:#00bdc8;}
.cta a{color:#00bdc8;}
.cta a:hover{color:#fff;text-decoration:none;}
.cta .Normal a.transcripts{display:block; height:85px; width:287px;overflow:hidden;position:relative;}
.cta .Normal  a .svgimg{position:absolute; top:-20px; left:0px;}
.cta .Normal  a:hover .svgimg{top:-146px;}