/* SiteWide Styles*/
*{margin:0; padding:0;}
a{outline:0;border:0;}
.clear{clear:both;}
.DnnModule .Title {display:none;}
body{font-family: "proxima-nova",sans-serif;}

/*Header*/
.header_wrapper{height:77px; background-color:#000; position:relative;z-index:9999;}
.header{width:960px; margin:0 auto; position:relative;}
.header #logo{display:block; height:50px; width:280px;position:absolute; left:0px; top:0px;}
.header .siteNav{float:right;font-size:21px;width:520px;display:block;text-transform:uppercase;}
.header .dnnmega li{list-style:none;}
.header .dnnmega li.root{ float:left; margin-right:35px;}
.header  li a{color:#fff; font-weight:600;}
.header  li a:hover{text-decoration:none;color:#20d2dc;}
.header  li a{text-decoration:none;}
.header  li.mmSelected a,.header  li.mmItemHover>a{color:#20d2dc;}
.header  li.mmSelected a{cursor:default;}
.megaborder{display:none;background:#000;padding:0;margin:0;}
.megaborder .TR{height:14px; background:transparent url(Images/navbluebar.png) no-repeat scroll top center;}
.megaborder .M{margin:0;padding:0 7px;}
.megaborder .M .category{border-bottom:2px solid #242424;}
.megaborder .M .category a{padding:12px 3px; display:block;}
.megaborder .M .category.mmLast{border:none;}

/*Content*/
.content{background-color:#000; position:relative;}
.ContentPane{width:960px; margin:0 auto; padding-bottom:50px}
.contentHolder{min-width:960px;background-color:#000;   }


/*SVG*/
svg{display:block;}
svg:not(:root) {
    overflow: hidden;
}


/*Footer*/
.footer{padding-top:70px;}
.footer li{list-style:none; padding:0;}
.footer ul{float:left;margin:0; padding:0;}

.footer_wrapper{background-color:#373737;position:relative;}
.footer{width:960px; margin:0 auto;}
.footer .footer_nav{}
.footer li{}
.footer .footer_nav li a{color:#fff;font-size:22px; font-weight:700;text-transform:uppercase;}
.footer .footer_nav li a:hover{text-decoration:none; color:#20d2dc;}
.logoff{display:none;}
.logoff_visible .logoff{display:block;}

.footer .footer_addy{margin:0 0 0 140px;}
.footer .footer_addy li{color:#fff;text-transform:uppercase;font-size:18px;font-weight:600;}
.footer .footer_addy li a{color:#00cbd7;}
.footer .footer_addy li a:hover{color:#fff; text-decoration:none;}

.footer .footer_questions{float:right;}
.footer .footer_questions li{color:#fff;font-size:20px;font-weight:600;}
.footer .footer_questions li a{}
.footer .footer_questions li h1{font-size:30px; color:#00cbd7; font-weight: 600;}
.footer .footer_questions li span{color:#00cbd7;font-weight:500;}
/*Sticky Footer*/
html, body,#Form,#Body {height:100%;}

.contentHolder {
    height: auto !important;
    margin: 0 auto -256px;
    min-height: 100%;
    height: 100%;
}
.footer_wrapper, .push {
    height: 256px;
}
/*

Sticky Footer by Ryan Fait
http://ryanfait.com/

*/