
div.contact-form h3{font-size:24px; font-weight:700;}

div.contact-form .radioOptions td{padding-bottom:20px;}
.radioOptions label{color:#fff; font-size:16px; padding-left:15px;}
div.contact-form span.label {display:block;font-size:14px; color:#fff;}
div.contact-form .requiredMessage{font-size:12px; color:#808080;}
div.contact-form .AdditionalInfoMessage{font-size:15px; color:#fff; font-weight:500;margin:0; display:block;}
div.contact-form .field-row{display:inline-block;}
div.contact-form .field {width:270px; height:20px; margin-bottom:10px; border:none; font-size:13px; padding:1px;background-color:#373737;color:#fff;}
div.contact-form .field.txtZip  {height:20px;width:120px; padding:1px;margin-right:12px;}
div.contact-form textarea.field {height:150px;width:570px; padding:5px;}

div.contact-form table,div.contact-form td{padding:0; margin:0; border:none; width:400px; }
div.contact-form td{width:275px;}
.btn:hover{text-decoration:none;}
div.contact-form .lightText{color : #9B9B9B; font-style:italic; font-weight:600;}

div.contact-form .btn{display:block; height:85px; width:287px;overflow:hidden;position:relative;margin:0 auto;}
div.contact-form .btn .svgimg{position:absolute; top:-20px; left:0px;}
div.contact-form .btn:hover .svgimg{top:-146px;}

div.contact-form .ddl{background:transparent; color:#fff; border:none;width:150px;}
.ddlcontainer{width:126px; overflow:hidden; height:22px;background:#373737 url(/portals/_default/skins/blackandwhite/images/contact/dropdown.jpg) no-repeat scroll right top;}
.floatedcontainer{float:left;}
.floatedcontainer.ddlcontainer{margin-top:17px;width:136px;}
div.contact-form  .floatedcontainer .ddl{width:155px;}
